/*

!.gitignore

!.gitconfig*
!.gitmodules
!.tmux.conf
!.vimrc
!.vim
.vim/.netrwhist
.vim/plugged
!.zshrc
!.config/
!README.md
!.bashrc
!.npmrc
!.cargo/
.cargo/*
!.cargo/config.toml
!.bash_setup.sh
.ssh/
!.private-home
!.gdbinit