[url "git@github.com:"]
        insteadOf = https://github.com/
[includeIf "hasconfig:remote.*.url:https://**github.com/**"]
    path = .gitconfig.personal
[includeIf "hasconfig:remote.*.url:git@github.com:**/**"]
    path = .gitconfig.personal
[includeIf "hasconfig:remote.*.url:https://**github.com/kong**"]
    path = .gitconfig.work
[includeIf "hasconfig:remote.*.url:git@github.com:kong/**"]
    path = .gitconfig.work
[core]
	editor = ~/.config/scripts/git-editor.sh
	# editor = code --wait
	autocrlf = input
	eol = lf
[alias]
	diffhome = !gitui -w $HOME -d $HOME/.git
	dlog = !git log --all --oneline --stat --graph --decorate
	st = !git status
	co = !git checkout
	pr = !git pull
	b = !git branch
[pull]
	rebase = false
[safe]
	directory = *
[push]
	default = current
[init]
	defaultBranch = master
# [credential]
# 	helper = store
