# includeIf Git 2.36
[includeIf "hasconfig:remote.*.url:https://**github.com/**"]
    path = .gitconfig.personal
[includeIf "hasconfig:remote.*.url:ssh://git@github.com/**"]
    path = .gitconfig.personal
[includeIf "hasconfig:remote.*.url:git@github.com:**/**"]
    path = .gitconfig.personal

[includeIf "hasconfig:remote.*.url:https://code.byted.org/**"]
    path = .gitconfig.work
[includeIf "hasconfig:remote.*.url:ssh://git@code.byted.org/**"]
    path = .gitconfig.personal
[includeIf "hasconfig:remote.*.url:git@code.byted.org:**/**"]
    path = .gitconfig.work

[core]
	editor = ~/.config/scripts/git-editor.sh
	# editor = code --wait
	autocrlf = input
	eol = lf
[alias]
	diffhome = !gitui -w $HOME -d $HOME/.git
	dlog = !git log --all --oneline --stat --graph --decorate
	st = !git status
	co = !git checkout
	pr = !git pull
	b = !git branch
[pull]
	rebase = false
[safe]
	directory = *
[push]
	default = current
[init]
	defaultBranch = master
# [credential]
# 	helper = store
[url "git@github.com:"]
        insteadOf = https://github.com/
[url "gitr"]
    insteadOf = git://git.byted.org/
[credential "https://code.byted.org"]
    username = wuweichao@bytedance.com
[url "ssh://wuweichao@git.byted.org:29418"]
    insteadOf = https://git.byted.org
[url "git@code.byted.org:"]
    insteadOf = https://code.byted.org/